@page "/abonents"
@using lb6.Data
@inject AbonentServices abonentServices
<h3>Abonents</h3>
<a href="/abonent" class="btn btn-success">Create abonent</a>
<table class="table">
  <thead>
    <tr>
      <th scope="col">First name</th>
      <th scope="col">Last name</th>
      <th scope="col">Surname</th>
      <th scope="col">Address</th>
      <th scope="col">Phone Number</th>
      <th scope="col"></th>
      <th scope="col"></th>
    </tr>
  </thead>
  <tbody>
       @foreach(var abonent in abonents)
        {
            <tr>
                <th scope="row">
                    @abonent.FirstName
                </th>
                <td>
                    @abonent.LastName
                </td>
                <td>
                    @abonent.SurName
                </td>
                <td>
                    @abonent.Address
                </td>
                <td>
                    @abonent.PhoneNumber
                </td>
                <td>
                    <a href="abonent/@abonent.Id" class="btn btn-info">Edit abonent</a>
                </td>
                <td>
                    <a href="delete/@abonent.Id" class="btn btn-danger">Delete abonent</a>
                </td>
            </tr>
        }
  </tbody>
</table>
@code {
    List<Abonent> abonents = new List<Abonent>();

    protected override async Task OnInitializedAsync()
    {
        abonents = await abonentServices.GetAbonents();
    }
}
